<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	<link type="text/css" rel="stylesheet"
	href="../assets/css/style.css"/>
</head>
<body>
<header class="head">
<div class="headerWrap">
    <div class="logo">
        <a href="homePage.html"></a>
    </div>
    
    <p>SR Institute</p>
    
    <nav class="navbar">
        <a href="homePage.html">Home</a>
 

    </nav>

    <div class="clear"></div>
</div>
</header>
<div class="gallery-wrap">
	<!-- <div class="image">
		<p class="name"></p>
	</div> -->
	
</div>

<footer class="footer"> 
<div class="social">
    <a href="#" id="fb"></a>
    <a href="#" id="tt"></a>
    <p>Follow us on</p>
</div>
</footer>
<div class="popupimage"></div>
<script type="text/javascript" src="../assets/js/jquery-2.1.3.min.js"></script>
	 <script type="text/javascript" src="../assets/js/form.js"></script>

</body>
</html>