<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	<link type="text/css" rel="stylesheet"
	href="../assets/css/style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<header class="head"></header>
<div class="gallery_wrap"></div>
<div class="popup_container">
	

       

<!-- 
<div id="pic1" class="popup_image" style="display: none;">
	<a class="close_btn" href="javascript:void(0)" onclick="close_popup()">
		<img src="../assets/images/close.png">
	</a>
	<a class="previous" href="javascript:void(0)" onclick="prev_image()">
		<img src="../assets/images/prev.png">
	</a>
	<a class="next" href="javascript:void(0)" onclick="next_image()">
		<img src="../assets/images/next.png">
	</a>
	<span class="name">LG Tone</span>
	<img class="enlarged_pic" src="../assets/images/gallery/t1.jpg" id="enlarged_pic" alt="LG Tone">
	<div class="details">
		<span class="model">Model no: HBS-730</span>
		<span class="model">Type: Camera Red</span>
	</div>
</div> -->



</div>
<footer class="footer"> 
<div class="social">
    <a href="#" id="fb"></a>
    <a href="#" id="tt"></a>
    <p>Follow us on</p>
</div>
</footer>

<div id="fade" class="black_overlay"></div>
<script type="text/javascript" src="../assets/js/jquery-2.1.3.min.js"></script>
	 <script type="text/javascript" src="../assets/js/form.js"></script>

</body>
</html>