<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link type="text/css" rel="stylesheet"
	href="../assets/css/style.css"/>
</head>
<body>
<header class="head">

    <div class="logo">
        <a href="homePage.html"></a>
    </div>
    
    <p>SR Institute</p>
    
    <nav class="navbar">
   
    	<a href="form.html">Registration</a>
    	<a href="homePage.html">Home</a>

    </nav>

    <div class="clear"></div>
</header>

 <article class="slider">
   <!--  <h2>Film Institute</h2> -->
     <div class="picSlider"></div>  
     <div class="about"> 
     <p>Named after the  legendary film maestro Satyajit Ray, the Institute has emerged as  a national centre of excellence which offers a post-graduate programme  in Cinematic studies.
 SRFTI has succeeded in articulating and disseminating classical and contemporary theories of praxis for  creative minds to leap into the world of professional practice - be it mainstream, parallel, art house, experimental or non-fiction narratives.
 </p></div>
 <div class="about">
 <p>As one of the largest stand-alone film school campuses in the world SRFTI is  situated on the eastern fringe of the city of Kolkata.The extra-ordinarily sprawling green campus  offers an array of perfect setting for the audio-visually driven minds. The  lakes, the ponds,the lush green velvety spread......  provide an idyllic creative space, serene and sequestered, to lend euphonies of creative spark.</p>
 </div>
    </article>
<footer class="footer"> 
<div class="social">
    <a href="#" id="fb"></a>
    <a href="#" id="tt"></a>
    <p>Follow us on</p>
</div>
</footer>
</body>
</html>