*{
	margin: 0;
	padding: 0;
}
html{
	/*min-height: 100%;*/
}
body{
 background: url(../../assets/images/bg.jpg) no-repeat center center fixed  brightness(50%) ; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.registraion_form{
    padding: 10px;
	background-color: #feffc3;
	display: inline-block;
    box-shadow: 0 10px 6px -6px rgb(157, 148, 148);
    border: 1px solid #4aa093;
	}
.input-wrap{
	padding: 5px;
		}

.input-wrap label,#gender{
	width:120px;
	display: inline-block;
	text-align: left;
	float: left;
	}
  
.input-wrap input,.input-wrap textarea,.input-wrap select{
   
    width:171px;

	}
.gender #male,.gender #female, .gender input, .language input{
	width:auto; 
	}

.register_wrap>h1{
	color: #296cd4;
	text-align: center; 
	margin: 18px;
	}
.register_wrap{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 8%;
}
.gender .gen label {
  float: none;
} 
.register_wrap .submit_btn{
  background-color: #f9950c;
  font-size: 15px;
  color: white;
  border-color: rgb(41, 108, 212);
  height: 30px;
  width: 100px;
  margin-top: 10px;
}
.register_wrap .submit_btn:hover{
  box-shadow: 0 10px 6px -6px rgb(157, 148, 148);
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  transform: translateY(-2px);
  cursor: pointer;

}
.checkbox p{
	
     font-size: 15px;
  margin: 20px;


}
.error, #error{
	background-color: black;
	font-size: 11px;
	color: white;
	width: auto;
}
.input-wrap #age{
	display: inline;
}
.clear{
	clear:both;
}
.head{
	  height: 70px;
	background-color:#2F5C6C;
	/*margin-bottom: 20px;*/

}
.headerWrap{
  max-width: 75%;
  margin: 0 auto;	
}
.slider {
	  margin-bottom: 86px;
      margin-top: 23px;

}
.footer{
	margin-top: 20px;
    width: 100%;
	position: fixed;
	background-color:#2F5C6C;
	bottom: 0;
	opacity: 0.9;


}
.footer a, .footer p{
	opacity:1;
}


#fb{
	margin: 10px 10px;
	float: right;
	background-image: url("../../assets/images/fb");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height:30px;
	border-radius: 20px;
}
 #tt{
 margin: 10px 10px;
	float: right;
	background-image: url("../../assets/images/twitter.png");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height:30px;
	border-radius: 20px;
}

.logo a{
  position: relative;
  background-image: url("../../assets/images/logo.png");
  background-repeat: no-repeat;
  top: 12px;
  left: 10px;
  background-size: 50px 50px;
  width: 67px;
  height: 55px;
  float: left;
}
.social{
	height: 50px;
	
}
.social p{
	float: right;
    padding-right: 9px;
    line-height: 50px;
    color: white;
}
.navbar{
  float: right;
  line-height: 70px;
  
}
.navbar a{
    padding: 25px 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;

}
.navbar a:hover{
	color: white;
	background-color:rgb(11, 53, 53);
}
.picSlider{
  max-width: 75%;
  margin: 0 auto;
}
.picSlider .picbox{
 /*  background-image: url("../../assets/images/film1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;*/
   width: 100%;
   border: solid 2px;
   box-shadow: 0px 8px 10px 5px #888888;
  

}
.head p{
  color: white;
  display: inline-block;
  font-size: 38px;
  line-height: 70px;

}
.about{
	   width: 75%;

  text-align: center;
  margin: 0 auto;
 
}
.about p{
	  margin-top: 3%;
  padding: 8px;
   background-color: rgb(255, 243, 213);

}
/* gallery*/
.gallery-wrap{
  width: 75%;
  margin: 0 auto;
  margin-top: 1%;
}
.pic{
  /* width: 23%; */
  /* height: 20%; */
  /* padding: 1%; */
  float: left;
  max-width: 100%;
}.image{
	  display: block;
  position: relative;
  width: 23%;
  float: left;
  padding: 1%;
}
.image span{
  display: none;
  position: absolute;
  left: 0;
  /* display: block; */
  top: 0;
  width: 100%;
  text-align: center;
}
.image:hover span{
background-color:rgb(233, 210, 141);

display: block;

}
/* @media screen  and (min-width: 908px) {

.headerWrap,.social,.gallery-wrap{
   margin: 0 auto;
  width: 983px;
  max-width: 75%;
  margin: 0 auto;
  width: 983px;
  max-width: 26%;
}

}
@media screen  and (max-width: 908px) {

	.picSlider{
   
  width: 100%;
  
	}
	.about{
		width: 100%;
	}
}
 */